.about {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about p {
    width: 48vw;
    text-align: center;
    color: gray;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif; }
  .about h2 {
    font-family: 'Roboto Condensed:300', sans-serif;
    font-size: 40px;
    color: gray;
    text-transform: uppercase; }

.header {
  height: 97vh;
  margin: 25px 25px 0 25px;
  overflow: hidden;
  background-image: url("https://images81.fotosik.pl/922/94cad9e6ff8b66e3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    line-height: 40px; }
  .header h2 {
    font-family: 'Roboto Condensed:300', sans-serif;
    font-size: 40px;
    margin-bottom: 40px; }
  .header h2:after {
    content: "";
    width: 79px;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0; }
  .header h3 {
    font-family: 'Roboto Condensed:300', sans-serif;
    font-size: 17px;
    padding: 10px; }
  .header .photography {
    font-size: 30px;
    padding-bottom: 40px; }
  .header .text-header {
    color: white;
    text-align: center; }

.nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid lightgray; }
  .nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-end; }
  .nav li a {
    font-family: 'Open Sans Condensed', sans-serif;
    color: gray;
    text-decoration: none;
    padding: 0 50px; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font: inherit; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0; }

blockquote {
  quotes: none;
  margin: 0; }

button {
  padding: 0; }
