.container-about {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container-about hr {
  width: 79px;
  height: 3px;
  background-color: red; }

.container-about p {
  max-width: 48vw;
  text-align: center;
  color: gray;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif; }

.container-about h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: gray; }

.container-header {
  max-height: 100vh;
  width: auto;
  height: 100vh;
  margin: 25px;
  background-image: url("https://images81.fotosik.pl/922/94cad9e6ff8b66e3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.container-header h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }

.container-header h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 20px; }

.container-header h1 xc {
  font-size: 50px; }

.container-header hr {
  width: 79px;
  height: 3px;
  background-color: white; }

.container-header p {
  padding-top: 30px;
  font-size: 16px;
  font-family: 'Roboto Condensed:300', sans-serif; }

.container-nav {
  max-height: 100vh;
  width: auto;
  height: 15vh;
  margin: 25px;
  background-color: white; }

.nav {
  display: flex;
  align-content: flex-start;
  flex-direction: column; }

ul {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  list-style-type: none;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #fff; }

li a {
  font-family: 'Open Sans Condensed', sans-serif;
  display: block;
  color: gray;
  text-decoration: none;
  padding: 0 40px; }

.nav hr {
  max-width: 100%;
  width: 100%;
  color: lightgray; }
