.about
  width: auto
  height: 100vh

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  p
    width: 48vw
    text-align: center
    color: gray
    font-size: 25px
    font-family: 'Open Sans Condensed', sans-serif

  h2
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 40px
    color: gray
    text-transform: uppercase
