.about
  width: auto
  height: 100vh

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  p
    width: 50%
    text-align: center
    color: gray
    font-size: 25px
    font-family: 'Open Sans Condensed', sans-serif
    margin-top: 25px

  h2
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 40px
    color: gray
    text-transform: uppercase
    position: relative
    bottom: 20px

  h2:after
    content: ""
    background-color: red
    position: absolute
    width: 79px
    height: 3px
    bottom: -20px
    left: 50%
    transform: translateX(-50%)