.contact
  height: 100vh
  margin: 25px 25px 0 25px
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

  &__form
    display: flex
    flex-direction: column
    margin: 0 auto
    width: 585px

  textarea
      padding: 60px
      border-style: solid
      border-width: 1px
      border-color: $coral
      margin: 10px
      color: $veryLightGray

  &__form--submit
    display: flex
    flex-direction: row
    justify-content: space-between

    button
      width: 145px
      height: 40px
      border-style: none
      background-color: $coral
      color: white
      font-size: 14px
      text-transform: uppercase
      font-family: 'Roboto Condensed:300', sans-serif
      align-self: flex-end
      margin: 10px

  &__image
    height: 100%
    background-image: url('../img/contact-image.jpg')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    display: flex
    justify-content: center
    flex-direction: column

  p
    color: $lightGray
    font-size: 15px
    font-family: 'Open Sans Condensed', sans-serif
    margin: 25px 10px

  .contact__form--info
    width: 585px
    text-align: center
    color: $lightGray
    font-size: 15px
    font-family: 'Open Sans Condensed', sans-serif
    margin: 25px 10px
    display: flex
    flex-direction: row
    justify-content: space-between

