.header
  height: 90vh
  margin: 25px 25px 0 25px
  overflow: hidden
  background-image: url('../img/photo-cover.jpg')

  background-repeat: no-repeat
  background-size: cover

  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  h1
    font-family: 'Dancing Script', cursive
    font-size: 50px
    line-height: 40px

  h2
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 40px
    margin-bottom: 40px
    position: relative
    color: white

  h2:after
    content: ""
    background-color: white
    position: absolute
    width: 79px
    height: 4px
    bottom: -20px
    left: 50%
    transform: translateX(-50%)

  p
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 17px
    padding: 10px
    color: white
    text-align: center

  .logo-author
    color: white
    text-align: center

  .author-position
    font-size: 20px
    padding-bottom: 40px

  span
    display: block

