.header
  height: 97vh
  margin: 25px 25px 0 25px
  overflow: hidden
  background-image: url('../img/photo-cover.jpg')

  background-repeat: no-repeat
  background-size: cover
  position: relative

  display: flex
  justify-content: center
  flex-direction: column

  h1
    font-family: 'Dancing Script', cursive
    font-size: 50px
    line-height: 40px

  h2
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 40px
    margin-bottom: 40px
    position: relative

  h2:after
    content: ""
    background-color: white
    position: absolute
    width: 79px
    height: 3px
    bottom: -20px
    left: 50%
    transform: translateX(-50%)

  h3
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 17px
    padding: 10px

  .photography
    font-size: 30px
    padding-bottom: 40px

  .text-header
    color: white
    text-align: center