
.container-header
    max-height: 100vh
    width: auto
    height: 100vh
    margin: 25px


    background-image: url("https://images81.fotosik.pl/922/94cad9e6ff8b66e3.jpg")
    background-repeat: no-repeat
    background-size: cover
    color: white
    text-align: center

    display: flex
    justify-content: center
    flex-direction: column

.container-header h3
  font-family: 'Dancing Script', cursive
  font-size: 30px

.container-header h4
  font-family: 'Dancing Script', cursive
  font-size: 20px

.container-header h1
 xc
  font-size: 50px

.container-header hr
  width: 79px
  height: 3px
  background-color: white

.container-header p
  padding-top: 30px
  font-size: 16px
  font-family: 'Roboto Condensed:300', sans-serif
