.nav
  margin: 0 25px

  h1
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

  .author-name
    font-family: 'Dancing Script', cursive

  .author-position
    font-family: 'Dancing Script', cursive
    font-size: 12px

  &-wrapper
    list-style-type: none
    overflow: hidden
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-content: flex-end
    border-bottom: 1px solid lightgray
    padding: 10px


  &-link
    font-family: 'Open Sans Condensed', sans-serif
    color: $lightGray
    text-decoration: none
    padding: 0 50px
    text-transform: uppercase

  &-item:nth-child(2)
    position: relative

  &-item:nth-child(2):after
    content: ""
    background-color: $coral
    width: 39px
    height: 2px
    bottom: -3px
    left: 50%
    transform: translateX(-50%)
    position: absolute