.nav
  width: 100%
  background-color: white
  display: flex
  justify-content: flex-end
  position: absolute
  bottom: 0
  border-bottom: 2px solid lightgray

  &-wrapper
    list-style-type: none
    overflow: hidden
    display: flex
    justify-content: flex-end

  &-link
    font-family: 'Open Sans Condensed', sans-serif
    color: $lightGray
    text-decoration: none
    padding: 0 50px
    text-transform: uppercase