@import "../base/colors"

.social
  margin: 25px
  height: 50vh
  background-color: white
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h2
    font-family: 'Roboto Condensed:300', sans-serif
    font-size: 40px
    color: $lightGray
    text-transform: uppercase
    position: relative
    bottom: 20px

  h2:after
    content: ""
    background-color: $coral
    position: absolute
    width: 79px
    height: 3px
    bottom: -20px
    left: 50%
    transform: translateX(-50%)

  .awesome
    display: inline-block
    text-align: center
    color: $veryLightGray

    .fa
      margin: 40px
